[submodule "cp-helm-charts"]
	path = cp-helm-charts
	url = https://github.com/pan-bellias/cp-helm-charts.git
	branch = master
[submodule "helm-charts"]
	path = helm-charts
	url = http://github.com/pan-bellias/helm-charts.git
	branch = master
